header.masthead{
    text-align: center;
    color:white;
    background-image: url("../img/conference.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .intro-text{
    padding-bottom: 100px;
    padding-top: 150px;
}

header.masthead .intro-text .intro-lead-in{
    font-size: 22px;
    font-style: italic;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, sans-serif;
}

header.masthead .intro-text .intro-heading{
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
}


.btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 700 !important; 
}

.btn-xl{
    padding: 20px 10px !important;
    font-size: 18px !important;
}

.btn-primary{
    /* 50% opacidade, mas só background */
    background-color: rgba(83, 89, 94, 0.3) !important;
    border-color: #53595e !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover{
    background-color: #53595e !important;
    border-color: #5d5d5d !important ;
    color: white;
    box-shadow: rgba(83, 89, 94, 0.8) !important;
}


section{
    padding: 100px 0;
}

section h2.section-heading{
    font-size:  40px;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading{
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif';
}

.topic-heading{
    margin: 15px 0;
}



footer {
    padding: 25px 0;
    text-align: center;
    
}   

footer span.copyright{
    font-family: 'Montserrat', 'Helvetica Neue',  Helvetica, sans-serif;
    font-size: 90%;
    line-height: 40px;
}

ul.social-buttons{
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}


ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #3677b1;
}

